body {
  background-color: beige;
}

h1 {
  color: cornflowerblue;
  transition: color .5s  ease-in-out;
}

.clicked {
  color: tomato;
}

.cool-font {
  font-family: 'Times New Roman', Times, serif;
}